<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Grade Goals Calculator - Register</title>
    <link href="public/css/style.css" rel="stylesheet" type="text/css">
    <link href="public/css/bulma.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <div class="field">
        <h1 class="is-size-1">Register</h1>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" class="input" v-model="email">
      </div>
      <div class="field">
        <label>Username</label>
        <input type="text" class="input" v-model="username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" class="input" v-model="password">
      </div>
      <div class="field">
        <label>Password Confirmation (type it again)</label>
        <input type="password" class="input" v-model="passwordConf">
      </div>
      <div class="field">
        <button class="button" v-on:click="post">Register</button>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="public/js/register.js"></script>
  </body>
</html>